/* colors:
    red: E63946
    white: F1FAEE
    light blue: A8DADC
    med blue: 457B9D
    dark blue: 1D3557
*/

@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
        format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
  }
  body,
  input {
    font-size: 16px;
    line-height: 24px;
    color: #353740;
    font-family: "ColfaxAI", Helvetica, sans-serif;
  }
  body {
    background-color: #F1FAEE;
    padding: 1em; 
  }
  .icon {
    width: 25px; 
  }
  h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    color: #202123;
    margin: 16px 0 40px;
  }

  p {
    padding: 5px; 
    border: 0.5px solid gray
  }

  input[type="text"], textarea {
    padding: 12px 16px;
    border: 1px solid #1D3557;
    border-radius: 4px;
    margin-bottom: 24px;
  }
  ::placeholder {
    color: #8e8ea0;
    opacity: 1;
  }
  input[type="submit"] {
    padding: 12px;
    color: #0070C9;
    background-color: #fff;
    border: 1px solid #1D3557;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }
  .result {
    font-weight: bold;
    margin-top: 40px;
  }

  .grid-container{
    --cols: 1;
    --rows: 1; 
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    /* column-gap: 2px;
    row-gap: 2px; */
    vertical-align: top;
    /* margin: 2px; */
    overflow: hidden; 
  }

  .grid-item{
    padding:1px; 
    margin: 1px; 
    place-items: center;
    overflow: hidden; 
  }
  
  .button-15 {
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 30px;
    overflow: hidden;
    padding: 4px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width:100%; 
  }
  
  .button-15:disabled {
    cursor: default;
    opacity: .3;
  }
  
  .button-15:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
  }
  
  .button-15:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
    outline: none;
  }
  
  .button-15:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
  }

.button-71 {
  background-color: #E63946;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}

@media (min-width: 768px) {

}

#transcript {
   height: 20em; 
   font-family: inherit;
}

.navBar {
  background-color: #A8DADC;
  border: 2px #A8DADC solid;
  height: 3em; 
  width: 100%; 
}

.speechDisplayBar{
  height: 3em;
  border: 2px #A8DADC solid; 
  min-width: 100%; 
  width: 100%; 
  background: white; 
  display: flex;  
}

.speechDisplayText {
  border: none; 
  font-size:18pt;
  align-self: flex-end; 
  padding: 0.5em; 
}

.record { 
  height: 550px; 
  width: 15%; 
  padding: 1em; 
  border: 2px #1D3557 solid;
  margin-top: 1em;   
  float: left
}

.boardContainer {
  height: 550px; 
  min-height: 0; 
  width: 75%; 
  padding: 1em; 
  border: 2px #1D3557 solid;
  margin-top: 1em;
  float: right; 
}

.buttonImage {
  width: 75%; 
  border: 1px #1D3557 solid; 
  pointer-events: none;
}

.mainContainer {
  align-content: center;
}

.parametersContainer {
  display: none;
  border: 10px solid #A8DADC;
  width: 25%;
  float: right; 
  background-color: #F1FAEE;
}

#closeParameters {
  width: 50%; 
  height: 50px; 
  float: right; 
  margin: 1em; 
}

.formItem {
  margin: 1em; 
}