<!DOCTYPE html>
<head>
  <title>Home</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='Speech-Bubble-Icons.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <script>
    // Only run what comes next *after* the page has loaded
    addEventListener("DOMContentLoaded", function() {
      var commandButtons = document.querySelectorAll(".button-15, .buttonImage");
      var speechDisplay = document.querySelector(".speechDisplayText"); 
      console.log(commandButtons)
      for (var i=0, l=commandButtons.length; i<l; i++) {
        var button = commandButtons[i];
        button.addEventListener("click", function(e) {
          e.preventDefault();
          var clickedButton = e.target;
          var command = clickedButton.value; 
          var request = new XMLHttpRequest();
          request.open("GET", "/" + command, true);
          request.send();
          speechDisplay.innerHTML=command; 
          console.log('js request send')
        });
      }
    
      recordButton = document.querySelector("#record"); 
      recordButton.addEventListener("click", function(){
        var counter = 15;
        //recordButton.disabled = true; 
        setInterval(function() {
            counter--;
            span = document.querySelector("#countdown");
            if (counter >= 0) {
              span.innerHTML = counter;
            }
            if (counter === 0) {
              clearInterval(counter);
              span.innerHTML = "--"; 
              //recordButton.disabled = false;
            }
          }, 1000); 
      });
    }, true);
  
  
    </script>
</head>

<body>
  <div class="header">
    <img src="{{ url_for('static', filename='Speech-Bubble-Icons.png') }}" class="icon" />
    <label style="font-size:xx-large; font-weight:bold">Speech Bubble</label>
  </div>


  <div class="mainContainer">
    <div class="record">
      <form action="/" method="post">
        <button class="button-71" type="submit" id="record" name="record" value="Record" style="width: 100px; height: 100px; margin: auto"><img src="{{ url_for('static', filename='Recording.png') }}" style="pointer-events: none"/></button>
        <span id="countdown" style="margin: auto">--</span>
      </form><br>

      <form action="/" method="post">
        <textarea id='transcript' type='text' name="transcript" value="{{transcript}}" >{{transcript}}</textarea>
        <input type="submit" name="extract" value="Extract Keywords" />
      </form><br><br>
    </div>
    <div class="boardContainer">
      <div class="speechDisplayBar">
        <span class="speechDisplayText"></span>
      </div>
      <div class="navBar">
        <img src="{{ url_for('static', filename='Settings.png') }}" class="icon" style="float:right; margin:0.5em"/>
      </div>
      <div class="grid-container">
        {% for key, value in imgList.items() %}
          <form class="speech">
            <div class="grid-item">
              <button type="submit" class="button-15" value="{{key}}">{{key}}<br><img src="{{value}}" class="buttonImage"/>
              </button>
            </div>
          </form>
        {% endfor %}
      </div>
    </div>
  </div>
</body>